body {
    background: #333;
    margin: 0;
    padding: 0;
}

#description {
  margin: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  max-width: 800px;
}

#game {
  margin-top: 8px;
}

#game canvas {
    margin: 0 auto;
}

#register-button {
  margin-top: 1em;
}

#register-container {
  display: none;
  margin: auto;
  margin-bottom: 24px;
  margin-top: 24px;
  max-width: 400px;
}

#register-form {
  margin-top: 1em;
}